h1{
  display: flex;
  justify-content: center;
  font-size: 50px;
}
h3{
  display: flex;
  justify-content: center;
  font-size: 30px;
}
h2{
  display: flex;
  justify-content: center;
  font-size: 45px;
}
img{
  display: flex;
  justify-content: center;
  max-height: 40px;
  width: auto;
}
